[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[scripts]
start="python src/app.py"
db-init="flask db init"
migrate="flask db migrate"
upgrade="flask db upgrade"

[packages]
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2 = "*"

[requires]
python_version = "3.8"
